.container{
    font-size: 10px;
    border-radius: 5%;
    border: 2px solid rgba(243, 241, 241, 0.363);
    margin: 20px auto;
    
    padding: 8px;
    width: 200px;
    height: 250px;

    backdrop-filter: blur(2px);

    color: antiquewhite;
    
}

.data{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.btn{
    position: relative;
    z-index: 2;
    float: right;
    background:none;
    border:none;
    color: antiquewhite;
    font-size: 25px;
    
}


.link{
text-decoration: none;
}
.titulo{
    color: antiquewhite;
    margin-top: 40px;
    margin-left: 40px;
    
    text-align: center;
}

.containerDatos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.datos{
    margin: 5px 25px 0px;
}

.img{
    color: antiquewhite;
}

.datos h3{
    font-size: 15px;
}

.datos span{
    font-size: 15px;
    font-weight: 600;
}