.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;

    background-color: rgba(37, 36, 36, 0.767);
    
}

.img{
    width: 40px;
    
}

.titulo{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    color: antiquewhite;
}